.contact-form {
	position: relative;
	width: 90%;
	margin: auto;
	padding-top: 4rem;
	padding-bottom: calc(8vh + 4rem);
	font-size: size(xxs-m);

	form {
		@include glass-bg;
		padding: 4rem 0;
		border-radius: 1.8rem;
		display: grid;
		grid-template-areas:
			'heading'
			'name'
			'phone-number'
			'email'
			'property-type'
			'type'
			'btn';

		line-height: 30px;
	}

	input,
	select,
	option {
		font-size: size(xxs-m);
		width: 100%;
		padding: 1.5rem 2rem;
		border-radius: 1rem;
		border: none;
		color: $black;
	}

	.default {
		color: $gray;
	}

	h2 {
		font-size: size(r);
		font-weight: weight(semi-bold);
		grid-area: heading;
		text-align: center;
		margin-bottom: 2rem;
	}

	&__name {
		grid-area: name;
		margin: 0 5%;
		margin-bottom: 1rem;
	}

	&__phone {
		grid-area: phone-number;
		margin: 0 5%;
		margin-bottom: 1rem;
	}

	&__email {
		grid-area: email;
		margin: 0 5%;
		margin-bottom: 1rem;
	}

	&__property-type {
		grid-area: property-type;
		margin: 0 5%;
	}

	&__type {
		grid-area: type;
		margin: 0 5%;
	}

	&__btn {
		@include primary-btn;
		grid-area: btn;
		width: fit-content;
		height: fit-content;
		margin: 3rem auto 0 auto;
		font-size: size(xxs-m);
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
}

@include tablet {
	.contact-form form {
		padding-left: 5.5rem;
		padding-right: 5.5rem;
	}
}

@include desktop-md {
	.contact-form {
		font-size: size(xs);

		form {
			padding-left: 12rem;
			padding-right: 12rem;
		}

		input,
		select,
		option {
			font-size: size(xs);
		}

		h2 {
			font-size: size(l);
		}
	}
}

@include desktop-lg {
	.contact-form {
		width: 100%;
		max-width: $desktop-lg;

		form {
			padding-left: 17rem;
			padding-right: 17rem;
			grid-template-areas:
				'heading heading'
				'name phone-number'
				'email email'
				'property-type type'
				'btn btn';
		}

		input,
		select,
		option {
			width: 36rem;
		}

		&__name {
			margin: 0;
			margin-bottom: 1rem;
		}

		&__phone {
			margin: 0;
			margin-bottom: 1rem;
			margin-left: 2.5rem;
		}

		&__email {
			margin: 0;
			margin-bottom: 1rem;

			input {
				width: 74.6rem;
			}
		}

		&__property-type {
			margin: 0;
		}

		&__type {
			margin: 0;
			margin-left: 2.5rem;
		}

		&__btn {
			margin-top: 8rem;
		}
	}
}
