.alert {
	width: 90%;
	max-width: $desktop-md;
	height: fit-content;
	margin: auto;
	font-size: size(xs);
	margin: 2rem auto 2rem auto;
	padding: 0.5rem 2rem;
	border-radius: 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablet {
		width: 55%;
		height: 3rem;
	}

	&__success {
		background: $flash-success;
		// background: hsl(118, 41%, 45%);
	}

	&__error {
		background: $flash-error;
	}

	.closebtn {
		cursor: pointer;
		height: fit-content;
		font-size: size(xxl);
		margin-left: 2rem;

		&:hover {
			color: black;
		}
	}
}
