.new-form {
	position: relative;
	width: 90%;
	margin: auto;
	padding-top: 4rem;
	padding-bottom: calc(8vh + 4rem);
	font-size: size(xxs-m);

	form {
		@include glass-bg;
		padding: 4rem 0;
		border-radius: 1.8rem;
		display: grid;
		grid-template-areas:
			'heading'
			'price'
			'location'
			'locality'
			'area'
			'bedroom'
			'structure-type'
			'property-type'
			'type'
			'furnished'
			'floor'
			'image'
			'amenities'
			'vicinity'
			'connectivity'
			'description'
			'btn';

		line-height: 30px;
	}

	input,
	textarea,
	select,
	option {
		font-size: size(xxs-m);
		width: 100%;
		padding: 1.5rem 2rem;
		border-radius: 1rem;
		border: none;
		color: $black;
	}

	.default {
		color: $gray;
	}

	h2 {
		font-size: size(r);
		font-weight: weight(semi-bold);
		grid-area: heading;
		text-align: center;
		margin-bottom: 2rem;
	}

	&__price,
	&__image,
	&__location,
	&__locality,
	&__property-type,
	&__structure-type,
	&__type,
	&__area,
	&__bedroom,
	&__furnished,
	&__floor,
	&__amenities,
	&__vicinity,
	&__connectivity,
	&__description {
		margin: 0 5%;
		margin-bottom: 1rem;
	}

	&__price {
		grid-area: price;
	}

	&__image {
		grid-area: image;
		display: inline-flex;
		align-items: center;
		margin-top: 1rem;

		&-input {
			display: none;
		}

		&-button {
			font-size: size(xxs-m);
			font-weight: weight(semi-bold);
			padding: 1.5rem 2rem;
			margin-right: 1.5rem;
			width: fit-content;
			border: none;
			border-radius: 1rem;
			color: $black;
			cursor: pointer;
		}

		&-label {
			max-width: 15rem;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	&__location {
		grid-area: location;
	}

	&__locality {
		grid-area: locality;
	}

	&__area {
		grid-area: area;
	}

	&__bedroom {
		grid-area: bedroom;
	}

	&__property-type {
		grid-area: property-type;
	}

	&__structure-type {
		grid-area: structure-type;
	}

	&__type {
		grid-area: type;
	}

	&__furnished {
		grid-area: furnished;
	}

	&__floor {
		grid-area: floor;
	}

	&__amenities {
		grid-area: amenities;
	}

	&__vicinity {
		grid-area: vicinity;
	}

	&__connectivity {
		grid-area: connectivity;
	}

	&__description {
		grid-area: description;
	}

	&__btn {
		@include primary-btn;
		grid-area: btn;
		width: fit-content;
		height: fit-content;
		margin: 2rem auto 0 auto;
		font-size: size(xxs-m);
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
}

@include tablet {
	.new-form form {
		padding-left: 5.5rem;
		padding-right: 5.5rem;
	}
}

@include desktop-md {
	.new-form {
		font-size: size(xs);

		form {
			padding-left: 12rem;
			padding-right: 12rem;
		}

		input,
		textarea,
		select,
		option {
			font-size: size(xs);
		}

		h2 {
			font-size: size(l);
		}
	}
}

@include desktop-lg {
	.new-form {
		width: 100%;
		max-width: $desktop-lg;

		form {
			padding-left: 17rem;
			padding-right: 17rem;
			grid-template-areas:
				'heading heading'
				'price location'
				'locality structure-type'
				'property-type type'
				'area bedroom'
				'furnished floor'
				'image image'
				'amenities amenities'
				'vicinity vicinity'
				'connectivity connectivity'
				'description description'
				'btn btn';
		}

		input,
		textarea,
		select,
		option {
			width: 36rem;
		}

		&__price,
		&__image,
		&__location,
		&__locality,
		&__property-type,
		&__structure-type,
		&__type,
		&__area,
		&__bedroom,
		&__furnished,
		&__floor,
		&__amenities,
		&__vicinity,
		&__connectivity,
		&__description {
			margin: 0;
			margin-bottom: 1rem;
		}

		&__location,
		&__structure-type,
		&__type,
		&__bedroom,
		&__floor {
			margin-left: 2.5rem;
		}

		&__image input,
		textarea {
			width: 74.6rem;
		}

		&__btn {
			margin-top: 7rem;
		}
	}
}
