* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text-color;

	transition: all 0.2s ease-in;
}

html {
	font-size: 62.5%;
	font-family: Montserrat, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
