.show-image {
	width: 90%;
	max-width: $desktop-lg;
	// height: 65.5rem;
	margin: auto;
	margin-bottom: 6.2rem;
	padding-top: 3.8rem;
	@include flexcenter(column);
	// display: grid;
	// grid-template-areas:
	// 'img'
	// 'details';
	position: relative;
	box-sizing: content-box;

	.img {
		width: 100%;
		height: 100%;
		position: relative;
		grid-area: img;
		// margin: auto;

		&__selected {
			height: 100%;
			width: 100%;
			object-fit: cover;
			margin-bottom: 8rem;

			border-radius: 1.8rem 1.8rem 0 0;
		}

		&-slider {
			@include flexcenter(row);
			justify-content: initial;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba($gray, 0.5);

			.arrow {
				width: 100%;
				width: 10%;

				// &__container {
				// 	@include flexcenter(row);
				// 	position: absolute;
				// 	height: 100%;
				// 	width: 10%;
				// 	z-index: 99;
				// 	background: rgba($gray, 0.7);

				// 	&-left {
				// 		left: 0;
				// 	}

				// 	&-right {
				// 		right: 0;
				// 	}
				// }

				&:active {
					transform: scale(1.5);
				}
			}

			&__container {
				@include flexcenter(row);
				justify-content: flex-start;
				flex-wrap: nowrap;
				overflow: hidden;
				height: 7.3rem;
				box-sizing: content-box;
				padding: 0.5rem 0;

				.thumbnail {
					height: 100%;
					margin: 0 0.9rem;
					opacity: 0.5;
					border: 2px solid $light-gray;
				}

				.active {
					transform: scale(1.1);
					opacity: 1;
				}
			}
		}
	}

	.details {
		width: 100%;
		height: 100%;
		@include glass-bg;
		text-transform: uppercase;
		font-size: size(xxs-m);
		letter-spacing: 0.05em;
		border-radius: 0 0 1.8rem 1.8rem;
		// padding: 11.3rem 0 10.7rem 5rem;
		padding: 3rem;
		grid-area: details;

		display: grid;
		grid-template-areas:
			'price price'
			'location type'
			'area structure'
			'bedroom cta'
			'delete edit';

		&__price {
			grid-area: price;
			font-size: size(xl);
			text-align: center;
			margin-bottom: 2rem;
		}

		&__location {
			grid-area: location;
			margin-bottom: 1rem;
		}

		&__area {
			grid-area: area;
			margin-bottom: 1rem;
		}

		&__bedroom {
			grid-area: bedroom;
		}

		&__type {
			grid-area: type;
			margin-left: 4rem;
			margin-bottom: 1rem;
		}

		&__structure {
			grid-area: structure;
			margin-left: 4rem;
			margin-bottom: 1rem;
		}

		&__cta {
			@include secondary-btn;
			grid-area: cta;
			margin-left: 4rem;
			margin-top: 0;
			width: fit-content;
		}

		&__cta-edit {
			@include secondary-btn;
			grid-area: edit;
			margin-left: 4rem;
			margin-top: 0;
			width: fit-content;
		}

		form {
			grid-area: delete;
		}

		&__cta-delete {
			@include secondary-btn;
			background: transparent;
			margin-left: 4rem;
			margin-top: 0;
			width: fit-content;
		}
	}
}

@include tablet {
	.show-image {
		.img {
			&__selected {
				margin-bottom: 0;
			}

			&-slider {
				background: rgba($gray, 0.5);

				&__container {
					padding: 1rem 0;
					height: 9.5rem;

					.thumbnail {
						margin: 0 1.5rem;
					}
				}
			}
		}
	}
}

@include desktop-md {
	.show-image {
		@include flexcenter(row);
		// display: grid;
		// grid-template-areas: 'img details';
		height: calc(65.5rem * 0.75);

		.img {
			width: 66%;

			&__selected {
				border-radius: 1.8rem 0 0 1.8rem;
			}

			&-slider {
				border-bottom-left-radius: 1.8rem;

				&__container {
					padding: 1.5rem 0;
					height: 11rem;
				}
			}
		}

		.details {
			width: 34%;
			border-radius: 0 1.8rem 1.8rem 0;
			padding: 11.3rem 0 10.7rem 3.5rem;
			grid-template-areas:
				'price'
				'location'
				'area'
				'bedroom'
				'type'
				'structure'
				'cta'
				'edit'
				'delete';

			&__price {
				text-align: initial;
			}

			&__type {
				margin-left: 0;
			}

			&__structure {
				margin-left: 0;
			}

			&__cta {
				margin-left: 0;
				height: fit-content;
			}

			&__cta-edit {
				margin-left: 0;
				width: fit-content;
			}

			&__cta-delete {
				margin-left: 0;
				width: fit-content;
			}
		}
	}
}

@include desktop-lg {
	.show-image {
		height: 65.5rem;

		.img {
			&-slider .arrow {
				cursor: pointer;

				&:hover {
					transform: scale(1.5);
				}
			}
		}

		.details {
			padding: 11.3rem 0 10.7rem 5rem;
			font-size: size(xs);

			&__price {
				margin-bottom: 0;
			}

			&__location {
				margin-top: 1rem;
				margin-bottom: 0;
			}

			&__area {
				margin-top: 8.7rem;
				margin-bottom: 0;
			}

			&__bedroom,
			&__type,
			&__structure {
				margin-top: 2.5rem;
				margin-bottom: 0;
			}

			&__cta {
				margin-top: 8.8rem;
			}
		}
	}
}

.description {
	margin: auto;
	width: 80%;
	max-width: $desktop-lg;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: size(xs);

	&__heading,
	&__title:not(:last-of-type) {
		margin-bottom: 2rem;
	}

	&__heading {
		font-size: size(l);
		font-weight: weight(semi-bold);
	}

	&__title {
		&-description {
			text-transform: none;
		}

		p {
			font-size: size(xxs-m);
			margin-top: 0.5rem;
		}
	}
}

@include desktop-lg {
	.description {
		font-size: size(s);

		&__heading {
			font-size: size(xl);
		}

		&__title p {
			font-size: size(xs);
		}
	}
}

.featured-listings--show-page {
	padding-bottom: 7.15rem;
	padding-top: 18.2rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		max-width: $desktop-lg;
		height: 5px;
		left: 50%;
		transform: translateX(-50%);
		top: 9.1rem;
		background-color: $white;
		border-radius: 5px;
	}
}
