<!-- success flash -->
<% if (success && success.length) { %>
<div class="alert alert__success" role="alert">
	<%= success %>
	<span
		class="closebtn"
		onclick="this.parentElement.style.display='none'"
		aria-label="Close"
		>&times;</span
	>
</div>
<% } %>
<!-- error flash -->
<% if (error && error.length) { %>
<div class="alert alert__error" role="alert">
	<%= error %>
	<span
		class="closebtn"
		onclick="this.parentElement.style.display='none'"
		aria-label="Close"
		>&times;</span
	>
</div>
<% } %>
