<!-- NAVBAR -->
<nav class="navbar">
	<div class="navbar__container">
		<a class="navbar__brand" href="/">Goodwill</a>
		<a class="navbar__logo" href="/">
			<img src="/images/logo.svg" alt="" />
		</a>

		<ul class="navbar__menu">
			<li class="navbar__item">
				<a href="/" class="navbar__link">Home</a>
			</li>
			<li class="navbar__item">
				<a href="/listings" class="navbar__link">Listing</a>
			</li>
			<li class="navbar__item">
				<a href="/contact" class="navbar__link">Contact</a>
			</li>
			<li class="navbar__item">
				<a href="/about" class="navbar__link">About</a>
			</li>
		</ul>
		<div class="hamburger">
			<span class="hamburger__bar"></span>
			<span class="hamburger__bar"></span>
			<span class="hamburger__bar"></span>
		</div>
	</div>
</nav>
