<% layout('layout/boilerplate') %>
<div class="bg-gradient">
	<%- include('../partials/flash') %>
	<main class="register-form">
		<form action="/login" method="POST">
			<h2>Login</h2>
			<div class="register-form__username">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" autofocus required />
			</div>

			<div class="register-form__password">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required />
			</div>

			<button>Login</button>
		</form>
	</main>
</div>
