<% layout('layout/boilerplate') %>

<div class="bg-gradient">
	<main class="intro navbar-intersection">
		<img
			class="headshot"
			src="/images/pexels-justin-shaifer-1222271.png"
			alt=""
		/>
		<img class="logo" src="/images/logo.svg" alt="	" />
		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quis.</h1>
	</main>

	<section>
		<!-- HORIZONTAL SCROLL -->
		<div class="social social__about-page">
			<!-- use gsap after completion for better scroll animations -->
			<p>COMPANIES WE WORKED WITH</p>

			<div class="social__container">
				<div class="marquee">
					<ul class="marquee__content">
						<li><a href="#">Simplex Infrastructure </a></li>
						<li><a href="#">Godrej Infrastructure </a></li>
						<li><a href="#">ICICI Bank </a></li>
						<li><a href="#">Larsen & Toubro </a></li>
						<li><a href="#">Shapoorji Pallonji </a></li>
						<li><a href="#">Reliance Energy </a></li>
						<li><a href="#">Kohinoor Technical Institue </a></li>
						<li><a href="#">Subhiksha Trading</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="history">
		<div class="img">
			<img src="/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt="" />
		</div>
		<div class="text">
			<h2>History</h2>
			<p>
				Sed velit lectus, vporttitor eu convallis sit amet, semper eget mauris.
				Integer in pulvinar mauris. Donec facilisis placerat magna sed cursus.
				Mauris vel tristique arcu. Duis congue orci id libero dictum
				sollicitudin. Curabitur dapibus arcu leo, condimentum tempus augue
				condimentum sed. Aliquam sed auctor ex. Nunc quis neque non eros dictum
				scelerisque ut ac urna. Etiam vel felis risque ut ac urna. Etiam vel
				felis risque ut ac urna. Etiam vel felis
			</p>
		</div>
	</section>
</div>
