<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../public/css/main.css" />
		<script defer src="../../public/js/main.js"></script>

		<title>Contact</title>
	</head>
	<body>
		<!-- NAVBAR -->
		<nav class="navbar">
			<div class="navbar__container">
				<a class="navbar__brand" href="./index.html">Goodwill</a>
				<a class="navbar__logo" href="./index.html">
					<img src="../../public/images/logo.svg" alt="" />
				</a>

				<ul class="navbar__menu">
					<li class="navbar__item">
						<a href="./index.html" class="navbar__link">Home</a>
					</li>
					<li class="navbar__item">
						<a href="./listings.html" class="navbar__link">Listing</a>
					</li>
					<li class="navbar__item">
						<a href="./contact.html" class="navbar__link">Contact</a>
					</li>
					<li class="navbar__item">
						<a href="./about.html" class="navbar__link">About</a>
					</li>
				</ul>
				<div class="hamburger">
					<span class="hamburger__bar"></span>
					<span class="hamburger__bar"></span>
					<span class="hamburger__bar"></span>
				</div>
			</div>
		</nav>

		<div class="bg-gradient bg-gradient--contact-page">
			<main class="contact-form navbar-intersection">
				<form action="">
					<h2>Contact Us</h2>
					<div class="contact-form__name">
						<label for="name">Name</label>
						<input
							type="text"
							name="name"
							id="name"
							placeholder="John Doe"
							required
						/>
					</div>

					<div class="contact-form__phone">
						<label for="phone-number">Phone Number</label>
						<input
							type="tel"
							name="phone-number"
							id="phone-number"
							placeholder="XXX-XXX-XXXX"
							required
						/>
					</div>

					<div class="contact-form__email">
						<label for="email">Email</label>
						<input
							type="email"
							name="email"
							id="email"
							placeholder="error@mail.com"
							required
						/>
					</div>

					<div class="contact-form__property-type">
						<label for="property-type">Property Type</label>
						<select name="property-type" id="property-type" required>
							<option class="default" value="">Select</option>
							<option class="" value="">Residential</option>
							<option class="" value="">Commercial</option>
						</select>
					</div>

					<div class="contact-form__type">
						<label for="type">Type</label>
						<select name="type" id="type" required>
							<option class="default" value="">Select</option>
							<option class="" value="">Buy</option>
							<option class="" value="">Sale</option>
							<option class="" value="">Rent</option>
						</select>
					</div>

					<button class="contact-form__btn">Send</button>
				</form>
			</main>
		</div>

		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer__container">
				<!-- <div class="brand">Goodwill</div> -->
				<div class="brand"><a href="./index.html">Goodwill</a></div>
				<div class="footer-links">
					<ul>
						<li><a href="./about.html">About Us</a></li>
						<li><a href="./contact.html">Contact Us</a></li>
						<li><a href="#">Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="footer__social-links">
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</div>
				<div class="newsletter">
					<p>Subscribe to our newsletter</p>
					<form action="#">
						<div class="newsletter__email">
							<input type="email" id="email" />
							<label for="email">Email Address</label>
							<button>OK</button>
						</div>
					</form>
				</div>
				<div class="contact">
					<p>Lorem ipsum dolor sit amet.</p>
					<p>XXX-XXX-XXXX</p>
					<p>example@gmail.com</p>
				</div>
			</div>
		</footer>
	</body>
</html>
