<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../public/css/main.css" />
		<script defer src="../../public/js/main.js"></script>

		<title>Goodwill</title>
	</head>
	<body>
		<!-- NAVBAR -->
		<nav class="navbar">
			<div class="navbar__container">
				<a class="navbar__brand" href="./index.html">Goodwill</a>
				<a class="navbar__logo" href="./index.html">
					<img src="../../public/images/logo.svg" alt="" />
				</a>

				<ul class="navbar__menu">
					<li class="navbar__item">
						<a href="./index.html" class="navbar__link">Home</a>
					</li>
					<li class="navbar__item">
						<a href="./listings.html" class="navbar__link">Listing</a>
					</li>
					<li class="navbar__item">
						<a href="./contact.html" class="navbar__link">Contact</a>
					</li>
					<li class="navbar__item">
						<a href="./about.html" class="navbar__link">About</a>
					</li>
				</ul>
				<div class="hamburger">
					<span class="hamburger__bar"></span>
					<span class="hamburger__bar"></span>
					<span class="hamburger__bar"></span>
				</div>
			</div>
		</nav>

		<!-- LANDING SECTION -->
		<div class="bg">
			<main class="hero navbar-intersection">
				<h1 class="hero__heading">Lorem ipsum dolor, sit amet consectetur</h1>
				<p class="hero__sub-heading">Lorem ipsum dolor sit amet consectetur.</p>
				<div class="hero__cta">
					<a href="#" class="hero__btn hero__btn--primary">CONTACT US</a>
					<a href="./listings.html" class="hero__btn hero__btn--secondary"
						>VIEW LISTINGS</a
					>
				</div>
			</main>

			<section class="featured-listings">
				<div class="listings__title">FEATURED LISTINGS</div>
				<div class="listings__container">
					<div class="card">
						<div class="card__img--container">
							<img
								src="../../public/images/thumbnail.jpg"
								class="card__img"
								alt=""
							/>
						</div>
						<div class="card__container">
							<div class="card__price">123456789</div>
							<div class="card__location">Lorem ipsum dolor sit.</div>
							<div class="card__subtitle">
								<div class="card__bedroom">4 BHK</div>
								<a class="card__cta" href="./show.html">Details</a>
								<div class="card__area">1200 SQ. FT.</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__img--container">
							<img
								src="../../public/images/thumbnail.jpg"
								class="card__img"
								alt=""
							/>
						</div>
						<div class="card__container">
							<div class="card__price">123456789</div>
							<div class="card__location">Lorem ipsum dolor sit.</div>
							<div class="card__subtitle">
								<div class="card__bedroom">4 BHK</div>
								<a class="card__cta" href="./show.html">Details</a>
								<div class="card__area">1200 SQ. FT.</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__img--container">
							<img
								src="../../public/images/thumbnail.jpg"
								class="card__img"
								alt=""
							/>
						</div>
						<div class="card__container">
							<div class="card__price">123456789</div>
							<div class="card__location">Lorem ipsum dolor sit.</div>
							<div class="card__subtitle">
								<div class="card__bedroom">4 BHK</div>
								<a class="card__cta" href="./show.html">Details</a>
								<div class="card__area">1200 SQ. FT.</div>
							</div>
						</div>
					</div>
				</div>

				<div class="listings__cta">
					<a href="./listings.html">VIEW ALL</a>
				</div>
			</section>
		</div>

		<!-- HORIZONTAL SCROLL -->
		<div class="social">
			<!-- use gsap after completion for better scroll animations -->
			<p>COMPANIES WE WORKED WITH</p>

			<div class="social__container">
				<div class="marquee">
					<ul class="marquee__content">
						<li><a href="#">Simplex Infrastructure </a></li>
						<li><a href="#">Godrej Infrastructure </a></li>
						<li><a href="#">ICICI Bank </a></li>
						<li><a href="#">Larsen & Toubro </a></li>
						<li><a href="#">Shapoorji Pallonji </a></li>
						<li><a href="#">Reliance Energy </a></li>
						<li><a href="#">Kohinoor Technical Institue </a></li>
						<li><a href="#">Subhiksha Trading</a></li>
					</ul>
				</div>
			</div>
			<div class="social__cta">
				<a href="./about.html">More About Us</a>
			</div>
		</div>

		<!-- BIG CTA -->
		<div class="big-cta">
			<p>WANT TO WORK TOGETHER?</p>
			<a href="#">CONTACT US</a>
		</div>

		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer__container">
				<div class="brand"><a href="./index.html">Goodwill</a></div>
				<div class="footer-links">
					<ul>
						<li><a href="./about.html">About Us</a></li>
						<li><a href="./contact.html">Contact Us</a></li>
						<li><a href="#">Terms & Conditions</a></li>
					</ul>
				</div>
				<div class="footer__social-links">
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</div>
				<div class="newsletter">
					<p>Subscribe to our newsletter</p>
					<form action="#">
						<div class="newsletter__email">
							<input type="email" id="email" />
							<label for="email">Email Address</label>
							<button>OK</button>
						</div>
					</form>
				</div>
				<div class="contact">
					<p>Lorem ipsum dolor sit amet.</p>
					<p>XXX-XXX-XXXX</p>
					<p>example@gmail.com</p>
				</div>
			</div>
		</footer>
	</body>
</html>
